@import "node_modules/@biotope/element/lib/host.mixin";
@import "../../resources/scss/defaultSassImports.scss";

@include host("rwd-production") {
	.social {
		&__scrollTrigger {
			position: absolute;
			top: -15vh;
			width: 100%;
			left: 0;
			height: 1rem;
		}

		&__links {
			position: absolute;
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 100%;
			top: -4rem;
			left: 0;
			padding: 4rem 0 5rem;
			background-image: url(../../_assets/paper_cut_social.png);
			background-repeat: no-repeat;
			background-size: 120%;
			background-position: center;

			@include breakpoint($medium) {
				background-size: contain;
			}

			@include breakpoint($large) {
				width: 330px;
				margin: auto;
				top: -6rem;
				right: 0;
				left: 0;
			}

			@include breakpoint($xxlarge) {
				top: -8rem;
			}

			@include breakpoint($wide) {
				width: auto;
				top: -12rem;
				padding: 6rem 6rem 7rem;
			}

			h3 {
				color: $red;
				margin-bottom: 2rem;
				font-size: 3rem;

				@include breakpoint($wide) {
					font-size: 5rem;
				}
			}

			a {
				margin-right: 1.5rem;

				&:last-child {
					margin: 0;
				}
			}

			svg {
				fill: $red;
				width: 4rem;
				height: auto;
				transition: all 0.2s ease-in-out;

				&:hover {
					filter: grayscale(10%);
				}

				@include breakpoint($medium) {
					width: 3rem;
				}

				@include breakpoint($wide) {
					width: 5rem;
				}
			}
		}
	}

	.production {
		max-width: $xxlarge;
		position: relative;
		padding: 15rem 0 6rem;
		text-align: center;
		z-index: 3;

		@include breakpoint($large) {
			padding: 6rem 0;
			width: 66.66%;
			margin: auto;
		}

		h2 {
			margin-bottom: 5rem;
		}

		h3 {
			margin-bottom: 1rem;
			color: $green;
		}

		p {
			margin-bottom: 2rem;
			color: $white;
			text-shadow: 0 0.1rem 0.1rem $black;

			@include breakpoint ($medium) {
				text-shadow: unset;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}

		&__flowers {
			position: absolute;
			height: 100%;
			width: 100%;
			top: 0;
			left: 0;
			z-index: 2;
			overflow: hidden;

			svg {
				position: absolute;
				width: 150px;
				padding: 2rem;
				z-index: -1;

				@include breakpoint($medium) {
					width: 200px;
				}
				@include breakpoint($xxlarge) {
					width: 300px;
				}

				@include breakpoint($ultraWide) {
					width: 400px;
				}

				&:first-child {
					@include breakpoint($medium) {
						width: 150px;
					}
					@include breakpoint($xxlarge) {
						width: 250px;
					}

					@include breakpoint($ultraWide) {
						width: 350px;
					}
				}
			}

			&--top {
				top: 25%;
				right: 0;

				@include breakpoint ($large) {
					top: 0;
					right: 0;
				}
			}

			&--right {
				right: 0;
				bottom: 0;
			}

			&--left {
				top: 50%;
				left: 0;

				@include breakpoint ($large) {
					top: unset;
					left: 0;
					bottom: 0;
					
				}
			}
		}
	}
}
