@import "node_modules/@biotope/element/lib/host.mixin";
@import "../../resources/scss/defaultSassImports.scss";

@include host("rwd-production") {
	.production {
		max-width: $xxlarge;
		padding: 6rem 0;
        text-align: center;
        
        @include breakpoint ($large) {
            width: 66.66%;
            margin: auto;
        }

		h2 {
			margin-bottom: 5rem;
		}

		h3 {
			margin-bottom: 1rem;
			color: $green;
		}

		p {
			margin-bottom: 2rem;
			color: $white;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
