@import "node_modules/@biotope/element/lib/host.mixin";
@import "../../resources/scss/defaultSassImports.scss";

@include host("rwd-recycle") {
	.recycle {
		text-align: center;

		h2 {
			margin-bottom: 5rem;
			padding-top: 2rem;

			@include breakpoint($large) {
				margin-bottom: 10rem;
			}
		}

		&__container {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			margin-bottom: 2rem;

			@include breakpoint($large) {
				margin-bottom: 10rem;
				flex-wrap: unset;
				flex-direction: row-reverse;
			}
		}

		&__item {
			width: 50%;
			margin-bottom: 2rem;

			@include breakpoint($large) {
				width: 20%;
			}

			&:last-child {
				margin-bottom: 0;
				color: $green;

				svg {
					fill: $green;
				}
			}

			svg {
				width: 50px;
				height: auto;

				@include breakpoint($large) {
					width: 100px;
				}

				@include breakpoint ($wide) {

				}
			}

			p {
				text-transform: uppercase;
			}
		}

		&__info {
			width: 100%;
			margin: auto;
			margin-bottom: 2rem;

			@include breakpoint ($large) {
				width: 66.66%;
			}
		}
	}
}
