@import "node_modules/@biotope/element/lib/host.mixin";
@import "../../resources/scss/defaultSassImports.scss";

@include host("rwd-philosophy") {
	.philosophy {
		padding: 6rem 0;

		@include breakpoint($large) {
			margin-top: 0;
		}

		&__grid {
			display: grid;

			@include breakpoint($large) {
				grid-template-columns: 1fr 55%;
				grid-template-rows: auto 1fr;
			}
		}

		h2 {
			text-align: center;
			grid-column: 1;
			grid-row: 1;
			margin-bottom: 5rem;

			@include breakpoint ($large) {
				text-align: left;
			}
		}

		picture {
			margin-bottom: 1rem;
			
			@include breakpoint($large) {
				grid-column: 2;
				grid-row: 1 / span 2;
			}
		}

		img {
			max-width: 100%;

			@include breakpoint($large) {
				margin: 0;
				grid-column: 2;
				grid-row: 1 / span 2;
			}
		}

		p {
			margin-bottom: 1rem;

			@include breakpoint($large) {
				grid-column: 1;
				grid-row: 2;
				margin-bottom: 0;
				padding-right: 2rem;
			}
		}
	}
}
