@import "settings/settings";
@import "../../../node_modules/breakpoint-sass/stylesheets/breakpoint";

.fullpage {
	height: 100vh;
	padding: 0 1rem;

	@include breakpoint ($medium) {
		padding: 0 2rem ;
	}

	&--mobile {
		height: auto;
		min-height: 100vh;
	}

	&--center {
		display: flex;
	}
}

.intro {

	&__background {
		position: absolute;
		//width: calc(100% - 2rem);
		top: 1rem;
		left: 1rem;
		right: 1rem;
		height: 80%;
		overflow: hidden;
		z-index: -1;

		img {

		}
	}

	&__headline {
		width: 30%;
		margin: auto;
	}

	&__cigarette {
		img {
			width: 10%;
		}
	}
}

.facts {
	max-width: $xxlarge;
	margin: auto;
}
