@import "settings/settings";
@import "../../../node_modules/breakpoint-sass/stylesheets/breakpoint";


body {
	@include breakpoint($medium) {
		cursor: none;
	}
}

.fullpage {
	height: 100vh;
	padding: 0 2rem;

	@include breakpoint($medium) {
		padding: 0 2rem;
	}

	&--mobile {
		height: auto;
		min-height: 97vh;

		@include breakpoint($large) {
			height: 100vh;
		}
	}

	&--center {
		display: flex;
	}
}

.intro {
	padding: 1rem 1rem 0;
	position: relative;

	@include breakpoint($xxlarge) {
		padding: 2rem 2rem 0;
	}
}

.facts {
	max-width: $xxlarge;
	margin: auto;

	@include breakpoint($medium) {
		padding: 0 7rem;
	}

	@include breakpoint($wide) {
		padding: 0 2rem;
	}
}

.products {
	padding: 0;

	@include breakpoint($large) {
		padding: 2rem;
	}
}

.recycle {
	display: flex;
	max-width: $xxlarge;
	position: relative;

	@include breakpoint($medium) {
		padding: 0 7rem;
		align-items: center;
		margin: auto;
	}

	@include breakpoint($wide) {
		padding: 0 2rem;
	}
}

.production {
	display: flex;
	background-image: url(../../_assets/paper_background_mobile.jpg);
	background-position: center;
	background-size: cover;
	position: relative;

	@include breakpoint($medium) {
		padding: 0 7rem;
	}

	@include breakpoint($large) {
		background-image: url(../../_assets/paper_background.jpg);
	}

	@include breakpoint($xxlarge) {
		margin: 2rem;
	}

	rwd-production {
		margin: auto;
	}
}

.philosophy {
	display: flex;
	height: auto;
	margin: auto;
	max-width: $xxlarge;

	@include breakpoint($medium) {
		padding: 0 7rem;
	}

	@include breakpoint($large) {
		min-height: 70vh;
		align-items: center;
		padding: 6rem 7rem;
	}
}

footer {
	padding-top: 3rem;
	background-image: url(../../_assets/paper_cut_footer.png);
	background-repeat: no-repeat;
	background-size: contain;

	@include breakpoint ($medium) {
		padding-top: 6rem;
	}

	@include breakpoint ($large) {
		padding-top: 15rem;
		background-size: unset;

	}
	@include breakpoint ($wide) {
		background-size: contain;
	}
}
