@import "settings/settings";
@import "../../../node_modules/breakpoint-sass/stylesheets/breakpoint";

body {
	@include breakpoint($medium) {
		cursor: none;
	}
}

.fullpage {
	height: 100vh;
	padding: 0 2rem;

	@include breakpoint($medium) {
		padding: 0 2rem;
	}

	&--mobile {
		height: auto;
		min-height: 97vh;

		@include breakpoint($large) {
			height: 100vh;
		}
	}

	&--center {
		display: flex;
	}
}

.intro {
	padding: 1rem 1rem 0;
	position: relative;

	@include breakpoint($xxlarge) {
		padding: 2rem 2rem 0;
	}

	&__background {
		display: flex;
		background-image: url(../../_assets/paper_background_mobile.jpg);
		background-position: center;
		background-size: cover;

		@include breakpoint($large) {
			height: 85%;
			background-image: url(../../_assets/paper_background.jpg);
		}
	}

	&__grid {
		display: grid;
		width: 100%;
		max-width: $xxlarge;
		margin: auto;
		grid-template-columns: 100%;
		grid-template-rows: 1fr auto;

		@include breakpoint($large) {
			grid-template-columns: 1fr 1fr 1fr;
			grid-template-rows: 1fr 1fr 1fr;
			max-height: 100%;
			padding: 0 7rem;
		}

		@include breakpoint($wide) {
			padding: 0;
		}
	}

	&__headline {
		position: relative;
		grid-row: 1;
		width: 240px;
		margin: 0 auto;
		padding: 8rem 0 2rem;
		z-index: 2;

		@include breakpoint($large) {
			grid-row: 2;
			grid-column: 2;
			width: 100%;
			padding: 0;
		}
	}

	&__leave {
		position: absolute;
		width: 100%;
		height: auto;
		z-index: -1;
		left: -25%;
		top: 3rem;

		@include breakpoint($large) {
			top: -15%;
		}
	}

	&__cigarette {
		display: flex;
		flex-direction: column;
		align-items: center;
		grid-row: 2;
		margin-bottom: 2rem;
		z-index: 3;

		@include breakpoint($large) {
			grid-column: 3;
			grid-row: 2 / span 2;
			margin-top: 2rem;
			margin-bottom: 0;
		}
		picture {
			@include breakpoint($large) {
				display: flex;
				align-items: center;
				height: 100%;
				max-width: 450px;
			}
		}

		img {
			max-height: 60%;
			max-width: 100%;

			@include breakpoint($medium) {
				max-width: 365px;
			}

			@include breakpoint($large) {
				max-width: 100%;
				max-height: none;
				margin: auto;
			}

			@include breakpoint($xlarge) {
				max-width: none;
				height: 100%;
			}
		}

		rwd-button {
			margin: auto;
		}
	}

	&__textLoop {
		display: flex;
		align-items: center;
		position: absolute;
		height: 3rem;
		width: 100%;
		left: 0;
		overflow-x: hidden;
		z-index: 4;

		@include breakpoint($large) {
			bottom: 0;
			height: 15%;
			z-index: -1;
		}
	}

	&__textLoopContent {
		font-size: 3rem;
		line-height: 1;
		font-family: $font-family-compressed;
		font-weight: 700;
		text-transform: uppercase;
		color: $green;

		@include breakpoint($large) {
			font-size: 4rem;
		}

		@include breakpoint($xxlarge) {
			font-size: 5rem;
		}
	}

	&__track {
		position: absolute;
		white-space: nowrap;
		will-change: transform;
		animation: marquee 32s linear infinite;
	}

	@keyframes marquee {
		from {
			transform: translateX(0);
		}
		to {
			transform: translateX(-50%);
		}
	}

	&__cut {
		position: absolute;
		right: 0;
		top: 61%;
		z-index: 2;
		height: 80%;
		max-height: 600px;

		@include breakpoint($large) {
			top: 50%;
		}

		@include breakpoint($wide) {
			max-height: none;
			height: auto;
		}

		@include breakpoint($ultraWide) {
			height: 70%;
		}
	}
}

.facts {
	max-width: $xxlarge;
	margin: auto;

	@include breakpoint($medium) {
		padding: 0 7rem;
	}

	@include breakpoint($wide) {
		padding: 0 2rem;
	}
}

.products {
	padding: 0;

	@include breakpoint($large) {
		padding: 2rem;
	}
}

.recycle {
	display: flex;
	max-width: $xxlarge;
	position: relative;

	@include breakpoint($medium) {
		padding: 0 7rem;
		align-items: center;
		margin: auto;
	}

	@include breakpoint($wide) {
		padding: 0 2rem;
	}
}

.production {
	display: flex;
	background-image: url(../../_assets/paper_background_mobile.jpg);
	background-position: center;
	background-size: cover;
	position: relative;

	@include breakpoint($medium) {
		padding: 0 7rem;
	}

	@include breakpoint($large) {
		background-image: url(../../_assets/paper_background.jpg);
	}

	@include breakpoint($xxlarge) {
		margin: 2rem;
	}

	rwd-production {
		margin: auto;
	}
}

.philosophy {
	display: flex;
	height: auto;
	margin: auto;
	max-width: $xxlarge;

	@include breakpoint($medium) {
		padding: 0 7rem;
	}

	@include breakpoint($large) {
		min-height: 70vh;
		align-items: center;
		padding: 6rem 7rem;
	}
}

footer {
	padding-top: 15rem;
	background-image: url(../../_assets/paper_cut_footer.png);
	background-repeat: no-repeat;

	@include breakpoint ($wide) {
		background-size: contain;
	}
}
