<section id="section1" class="fullpage">
    <h1>Section1</h1>
    <rwd-button link="#section2" data-resources="[{paths: ['components/rwd-button/rwd-button.js']}]">
        Mehr Anzeigen
    </rwd-button>
</section>
<section id="section2" class="fullpage">
    <h1>Section2</h1>
</section>
<section id="section3" class="fullpage">
    <h1>Section3</h1>
</section>
<section id="section4" class="fullpage">
    <h1>Section4</h1>
</section>