@import "node_modules/@biotope/element/lib/host.mixin";
@import "../../resources/scss/defaultSassImports.scss";

@include host("rwd-footer") {
	.footer {
		background-color: $green;
		color: $offWhite;

		&__container {
			display: flex;
			flex-direction: column;
			max-width: $xxlarge;
			margin: auto;
            padding: 6rem 2rem 5rem;
            font-family: $font-family-compressed;
            text-transform: uppercase;

			@include breakpoint($medium) {
                padding: 7.5rem 7rem 5rem;
			}
			@include breakpoint($large) {
                flex-direction: row-reverse;
			}
		}

		&__follow {
			margin-bottom: 2rem;

			@include breakpoint($large) {
				width: 50%;
			}

			h3 {
				margin-bottom: 2rem;
			}

			a {
				margin-right: 1rem;
			}

			svg {
				fill: $offWhite;
				width: 4rem;
				height: auto;
				transition: all 0.2s ease-in-out;

				&:hover {
					fill: $red;
				}

				@include breakpoint ($xxlarge) {
					width: 5rem;
				}
			}
		}

		&__nav {
			@include breakpoint($large) {
				width: 50%;
			}

			li {
				position: relative;
				padding-left: 2rem;
				line-height: 1;
                margin-bottom: 2rem;
                transition: all 0.2s ease-in-out;

				&::before {
					content: "";
					position: absolute;
					border-right: 2px solid $red;
					border-bottom: 2px solid $red;
					width: 10px;
					height: 10px;
					top: 50%;
					left: 0;
					transform: translateY(-50%) rotate(-45deg);
                }
                
                &:hover {
                    margin-left: 1rem;
				}
				
				a {
					font-size: 3rem;
					color: $offWhite;
					text-decoration: underline;

					@include breakpoint ($xxlarge) {
						font-size: 4rem;
					}
				}
			}
		}
	}
}
