@import "node_modules/@biotope/element/lib/host.mixin";
@import "../../resources/scss/defaultSassImports.scss";

@include host("rwd-facts") {
	.facts {
		display: flex;
		flex-direction: column;
        justify-content: center;
        font-family: $font-family-compressed;
        font-weight: 700;

		&__container {
			width: 100%;
			display: flex;
			flex-direction: column;
			margin-bottom: 2rem;
			text-align: center;
			text-transform: uppercase;

			@include breakpoint($medium) {
				flex-direction: row-reverse;
			}
		}

		&__numbers {
			width: 100%;
			margin-bottom: 2rem;
			margin: auto;

			@include breakpoint($medium) {
				width: 50%;
				margin-bottom: 0;
			}

			p {
				font-size: 3rem;

				@include breakpoint($medium) {
					font-size: 5rem;
				}
			}
		}

		&__superNumber {
			font-size: 10rem;
			line-height: 1.1;
			color: $green;

			@include breakpoint($medium) {
				font-size: 15rem;
			}
		}

		&__flower {
			width: 10rem;
			margin: auto;
			margin-bottom: 2rem;
		}

		&__info {
            text-align: center;
            padding: 0 1.5rem;

			p {
                margin-bottom: 2rem;
                font-size: 2.6rem;

				span {
					color: $red;
				}
			}
		}

		&__vitamins {
			display: flex;
			flex-wrap: wrap;
            justify-content: stretch;


			li {
				font-size: 2.6rem;
				width: 33.33%;
                color: $green;
                margin-bottom: 2rem;

                &:last-child {
                    width: 100%;
                }
			}
		}
	}
}
