@import "node_modules/@biotope/element/lib/host.mixin";
@import "../../resources/scss/defaultSassImports.scss";

@include host("rwd-facts") {
	.facts {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100%;
		padding: 6rem 0;
        font-family: $font-family-compressed;

		&__numbers {
			width: 100%;
			display: flex;
			flex-direction: column;
			margin: auto;
			margin-bottom: 2rem;
			text-align: center;
			text-transform: uppercase;
			font-weight: 700;
			z-index: 3;

			@include breakpoint($large) {
				flex-direction: row;
				justify-content: space-between;
				margin: 0 0 5rem 0;
			}

			@include breakpoint ($wide) {
				margin: 0 0 10rem 0;
			}

			p {
				font-size: 3rem;
				margin-bottom: 1rem;

				@include breakpoint($xlarge) {
					font-size: 5rem;
				}
			}
		}

		&__superNumber {
			font-size: 10rem;
			line-height: 1.1;
			color: $green;

			@include breakpoint($xlarge) {
				font-size: 15rem;
			}
		}

		&__container {
			display: flex;
			justify-content: center;
			flex-direction: column;

			@include breakpoint ($large) {
				flex-direction: row;
			}
		}

		&__flower {
			width: 10rem;
			margin: auto;
			margin-bottom: 2rem;

			@include breakpoint ($large) {
				width: 20rem;
				margin: auto 0;
				margin-right: 5rem;
			}

			@include breakpoint ($wide) {
				width: 25rem;
				margin: auto 0;
			}
		}

		&__info {
            text-align: center;
			
			@include breakpoint ($large) {
				text-align: left;
				margin: auto;
				width: 66.66%;
			}

			p {
                margin-bottom: 2rem;
				font-size: 2.6rem;
				
				@include breakpoint ($xxlarge) {
					margin-bottom: 4rem;
					font-size: 4rem;
				}

				@include breakpoint ($wide) {
					margin-bottom: 5rem;
					font-size: 5rem;
				}

				span {
					color: $red;
				}
			}
		}

		&__vitamins {
			display: flex;
			flex-wrap: wrap;
            justify-content: stretch;

			li {
				font-size: 2.6rem;
				line-height: 1;
				width: 33.33%;
                color: $green;
				margin-bottom: 2rem;
				
				@include breakpoint ($large) {
					width: 25%;
					margin-bottom: 0;
				}

				@include breakpoint ($xxlarge) {
					font-size: 4rem;
				}

				@include breakpoint ($wide) {
					font-size: 5rem;
				}

                &:last-child {
					width: 100%;
					margin-bottom: 0;
					
					@include breakpoint ($large) {
						width: 25%;
					}
                }
			}
		}
	}
}
