<header>
    <rwd-cursor data-resources="[{paths: ['components/rwd-cursor/rwd-cursor.js']}]"></rwd-cursor>
    <rwd-nav data-resources="[{paths: ['components/rwd-nav/rwd-nav.js']}]"></rwd-nav>
</header>
<main>
    <section id="intro" class="intro fullpage fullpage--mobile">
        <rwd-intro data-resources="[{paths: ['components/rwd-intro/rwd-intro.js']}]"></rwd-intro>
    </section>
    <section id="facts" class="facts fullpage fullpage--mobile">
        <rwd-facts data-resources="[{paths: ['components/rwd-facts/rwd-facts.js']}]"></rwd-facts>
    </section>
    <section id="products" class="products fullpage fullpage--mobile">
        <rwd-products data-resources="[{paths: ['components/rwd-products/rwd-products.js']}]"></rwd-products>
    </section>
    <section id="recycle" class="recycle fullpage fullpage--mobile">
        <rwd-recycle data-resources="[{paths: ['components/rwd-recycle/rwd-recycle.js']}]"></rwd-recycle>
    </section>
    <section id="production" class="production fullpage fullpage--mobile">
        <rwd-production data-resources="[{paths: ['components/rwd-production/rwd-production.js']}]"></rwd-production>
    </section>
    <section id="philosophy" class="philosophy fullpage">
        <rwd-philosophy data-resources="[{paths: ['components/rwd-philosophy/rwd-philosophy.js']}]"></rwd-philosophy>
    </section>
</main>
<footer>
    <rwd-footer data-resources="[{paths: ['components/rwd-footer/rwd-footer.js']}]"></rwd-footer>
</footer>