@import "node_modules/@biotope/element/lib/host.mixin";
@import "../../resources/scss/defaultSassImports.scss";

@include host("rwd-nav") {
	.nav {
		position: fixed;
		top: 0;
		bottom: 0;
		right: 0;
		padding-right: 9.5rem;
		font-weight: 700;
		z-index: 10;

		&MenuOpen {
			.navMenu__icon {
				span {
					background-color: $white;

					&:first-child {
						transform: translateY(4px) rotate(45deg);
					}

					&:last-child {
						transform: translateY(-4px) rotate(-45deg);
					}
				}
			}

			.navMenu__items {
				transform: translateX(0);
				color: $black;

				.navMenu__link {
					a {
						opacity: 1;
					}
				}
			}

			.navCounter__container {
				&::before {
					background-color: $white;
				}
			}

			.navCounter__item {
				&:last-child {
					.navCounter__link {
						color: $white;
					}
				}
			}

			.navLearnMore {
				&__text {
					color: $white;
				}

				&__icon {
					fill: $white;
				}
			}
		}

		&Menu {
			&__icon {
				position: fixed;
				top: 0;
				right: 0;
				padding: 2rem 1.5rem 0 1rem;
				line-height: 0;
				z-index: 9;

				@include breakpoint ($xxlarge) {
					padding: 3rem 3rem 0 1rem;
				}

				span {
					display: block;
					width: 2.5rem;
					height: 0.2rem;
					background-color: $black;
					transition: all 0.2s ease-in-out;

					@include breakpoint($xxlarge) {
						width: 3rem;
					}

					&:first-child {
						display: inline-block;
						margin-bottom: 0.7rem;
					}
				}
			}

			&__items {
				position: absolute;
				display: flex;
				top: 0;
				right: 0;
				margin: 0;
				width: 100vw;
				height: 100vh;
				background: rgba($color: #000, $alpha: 0.95);
				padding: 6rem 0;
				transform: translateX(100%);
				transition: all 0.3s cubic-bezier(1, 0.5, 0, 1);
				z-index: 7;

				ul {
					margin: auto;
				}
			}

			&__link {
				list-style: none;

				a {
					padding-top: 3rem;
					display: block;
					color: $white;
					background: none;
					text-align: center;
					text-decoration: none;
					opacity: 0;
					font-size: 5.5rem;
					transition: color 0.2s ease-in-out, opacity 0.4s ease-in-out;

					@include breakpoint($xxlarge) {
						font-size: 6.5rem;
					}

					&:hover,
					&:focus,
					&:active {
						color: $green;
					}
				}
			}
		}

		&Counter {
			display: none;
			position: fixed;
			width: 5rem;
			top: 0;
			bottom: 0;
			right: 0;
			padding: 0 1.5rem 0 1rem;
			transition: right $transition-default;
			z-index: 8;

			@include breakpoint ($large) {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
			}

			@include breakpoint($xxlarge) {
				padding: 0 3rem 0 1rem;
				width: 7.0rem;
			}

			&__container {
				width: 2.5rem;
				text-align: center;

				@include breakpoint ($xxlarge) {
					width: 3rem;
				}

				&::before {
					position: absolute;
					top: 0;
					bottom: 0;
					left: 1rem;
					width: 2.5rem;
					height: 0.2rem;
					margin: auto;
					content: "";
					background-color: $black;

					@include breakpoint($xxlarge) {
						width: 3rem;
					}
				}
			}

			&__item {
				line-height: 1;
				padding: 1.5rem 0;
			}

			&__link {
				position: relative;
				color: $black;
				text-decoration: none;
				font-size: 2rem;
				line-height: 2.5rem;

				@include breakpoint($xxlarge) {
					font-size: 2.5rem;
				}

				&--active {
					color: $green;
					transition: all $transition-default;
				}

				&--red {
					color: $red;
				}
			}
		}

		&LearnMore {
			position: fixed;
			bottom: 0;
			right: 0;
			padding: 0 1.5rem 2rem 1rem;
			display: flex;
			flex-direction: column;
			align-items: center;
			transition: all $transition-default;
			z-index: 8;

			@include breakpoint ($xxlarge) {
				padding: 2rem 3rem 0 1rem;
			}

			&__icon {
				fill: $black;
				transition: all 0.2s ease-in-out;
				stroke-width: 2rem;
			}

			&__text {
				color: $green;
				height: 0;
				width: 0;
				padding-bottom: 1.3rem;
				writing-mode: vertical-lr;
				font-size: 2rem;
				opacity: 0;
				visibility: hidden;
				transition: opacity 0.2s ease-in-out, height 0s, visibility 0s;

				@include breakpoint($xxlarge) {
					font-size: 2.5rem;
				}

				&.showText {
					height: auto;
					width: auto;
					opacity: 1;
					visibility: visible;
				}
			}

			.switchArrow {
				.navLearnMore__icon {
					transform: rotate(180deg);
				}
			}

			.changeColor,
			.changeColorScroll {
				.showMore__icon {
					fill: $white;
				}
			}
		}
	}
}
