@import "node_modules/@biotope/element/lib/host.mixin";
@import "../../resources/scss/defaultSassImports.scss";

@include host("rwd-nav") {
	.nav {
		position: fixed;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
		top: 0;
		right: 0;
		padding: 2rem 2rem 2rem 1rem;
		background-color: lightcoral;
		z-index: 10;

		@include breakpoint($medium) {
			padding: 2rem 4rem 2rem 2rem;
		}

		&MenuOpen {
			.navMenu__icon {
				span {
					background-color: $white;

					&:first-child {
						transform: translateY(4px) rotate(45deg);
					}

					&:last-child {
						transform: translateY(-4px) rotate(-45deg);
					}
				}
			}

			.navMenu__items {
				transform: translateX(0);
				color: $black;

				.navMenu__link {
					a {
						opacity: 1;
					}
				}
			}

			.navCounter__item {
				&:last-child {
					.navCounter__link {
						color: $white;
						&::before {
							background-color: $white;
						}
					}
				}
			}

			.navLearnMore {
				&__text {
					color: $white;
				}

				&__icon {
					fill: $white;
				}
			}
		}

		&Menu {
			&__icon {
				position: relative;
				z-index: 9;
				span {
					display: block;
					width: 2rem;
					height: 0.1rem;
					margin-top: 0.4rem;
					background-color: $black;
					transition: all 0.2s ease-in-out;

					&:first-child {
						margin: 0;
					}
				}
			}

			&__items {
				position: absolute;
				display: flex;
				top: 0;
				right: 0;
				margin: 0;
				width: 100vw;
				height: 100vh;
				background: rgba($color: #000, $alpha: 0.95);
				padding: 6rem 0;
				transform: translateX(100%);
				transition: all 0.3s cubic-bezier(1, 0.5, 0, 1);
				z-index: 7;

				ul {
					margin: auto;
				}
			}

			&__link {
				list-style: none;

				a {
					padding-top: 3rem;
					display: block;
					color: $white;
					background: none;
					text-align: center;
					text-decoration: none;
					opacity: 0;
					font-size: 5.5rem;
					transition: color 0.2s ease-in-out, opacity 0.4s ease-in-out;

					@include breakpoint($medium) {
						font-size: 6.5rem;
					}

					&:hover,
					&:focus,
					&:active {
						color: $green;
					}
				}
			}
		}

		&Counter {
			position: absolute;
			top: 0;
			bottom: 0;
			display: flex;
			flex-direction: column;
			justify-content: center;
			text-align: center;
			transition: right $transition-default;
			z-index: 8;

			@include breakpoint($medium) {
				right: 4rem;
			}

			&__item {
				line-height: 1;
				padding: 2rem 0;

				&:last-child {
					.navCounter__link {
						&::before {
							position: absolute;
							bottom: 1.9rem;
							left: 0;
							height: 0.1rem;
							width: 100%;
							margin-bottom: 2.3rem;
							content: "";
							background-color: $black;
						}

						&.changeColor,
						&.changeColorScroll {
							&::before {
								background-color: $white;
							}
						}
					}
				}
			}

			&__link {
				position: relative;
				color: $black;
				text-decoration: none;
				font-size: 2rem;
				line-height: 2.5rem;

				&.changeColor,
				&.changeColorScroll {
					color: $white;
				}

				&--active {
					color: $green;
					transition: all $transition-default;
				}
			}
		}

		&LearnMore {
			display: flex;
			flex-direction: column;
			transition: all $transition-default;
			z-index: 8;

			@include breakpoint($medium) {
				right: 4rem;
			}

			&__icon {
				fill: $black;
				transition: all 0.2s ease-in-out;
			}

			&__text {
				color: $green;
				height: 0;
				width: 0;
				padding-bottom: 1.3rem;
				writing-mode: vertical-lr;
				font-size: 2rem;
				opacity: 0;
				visibility: hidden;
				transition: opacity 0.2s ease-in-out, height 0s, visibility 0s;

				&.showText {
					height: auto;
					width: auto;
					opacity: 1;
					visibility: visible;
				}
			}

			.switchArrow {
				.navLearnMore__icon {
					transform: rotate(180deg);
				}
			}

			.changeColor,
			.changeColorScroll {
				.showMore__icon {
					fill: $white;
				}
			}
		}
	}
}
